.bg--primario {
  background-color: #fff;
}

.bg--secundario {
  background-color: #df4204;
}

.bg--facebook {
  background-color: grey;
}

.bg--wattsap {
  background-color: green;
}

.bg--instagram {
  background-color: orange;
}

.info {
  background: DarkGray;
  -webkit-box-shadow: 0 0 1px rgba(169, 169, 169, 0.25);
          box-shadow: 0 0 1px rgba(169, 169, 169, 0.25);
  color: #fff;
}

.alert {
  background: DarkRed;
  -webkit-box-shadow: 0 0 1px rgba(139, 0, 0, 0.25);
          box-shadow: 0 0 1px rgba(139, 0, 0, 0.25);
  color: #fff;
}

.success {
  background: DarkGreen;
  -webkit-box-shadow: 0 0 1px rgba(0, 100, 0, 0.25);
          box-shadow: 0 0 1px rgba(0, 100, 0, 0.25);
  color: #fff;
}

.white, h1,
h2,
h3 {
  color: white;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  height: 50px;
}

.bg-orange {
  background-color: #df4204;
}

/* color en los select option*/
#botellas {
  background-color: lemonchiffon;
  border-color: black;
  font-family: serif;
}

/* imagen motito delivery */
.deliveryInicio img {
  width: 300px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 25px;
  border-style: solid;
  border-color: darkorange;
}

button {
  background-color: lemonchiffon;
}

input {
  background-color: #fff;
}

h1,
h2,
h3 {
  display: inline;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #e9650e;
}

footer a img {
  width: 40px;
}

footer div p {
  font-size: 8px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin: auto;
}

footer .iconos {
  display: contents;
}

.productosMain {
  background: -webkit-gradient(linear, left top, right top, color-stop(31%, black), color-stop(100%, #df4204), to(#ff9202));
  background: linear-gradient(90deg, black 31%, #df4204 100%, #ff9202 100%);
}

.productosMain__imagenes p {
  font-weight: 800;
  color: #fff;
  -ms-flex-line-pack: center;
      align-content: center;
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.inicioMain {
  background: -webkit-gradient(linear, left top, right top, color-stop(31%, black), color-stop(100%, #df4204), to(#ff9202));
  background: linear-gradient(90deg, black 31%, #df4204 100%, #ff9202 100%);
  height: 100%;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}

.inicioMain .video {
  width: 90%;
  margin: 0 auto;
}

.inicioMain .video iframe {
  width: 80%;
  margin: 0 auto;
  display: block;
}

/* estilos CONTACTO */
.contacto {
  background: -webkit-gradient(linear, left top, right top, color-stop(31%, black), color-stop(100%, #df4204), to(#ff9202));
  background: linear-gradient(90deg, black 31%, #df4204 100%, #ff9202 100%);
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto__titulo {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 300px;
}

.contacto__formText {
  margin-bottom: 10px;
  color: #fff;
}

.contacto input {
  margin-bottom: 30px;
}

/* estilos FOTOS  */
.latas {
  margin-bottom: 20px;
}

@media (min-width: 1025px) {
  .latas__imagenes {
    width: 76%;
    margin: 0 auto;
  }
}

.latas__imagenes img {
  width: 300px;
  border-radius: 25px;
  margin: 10px;
  padding: 15px;
}

.latas__descripcion {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #fff;
  text-align: center;
}

.latas2 {
  margin-bottom: 20px;
}

@media (min-width: 1025px) {
  .latas2__imagenes {
    width: 76%;
    margin: 0 auto;
  }
}

.latas2__imagenes img {
  width: 300px;
  border-radius: 25px;
  margin: 10px;
  padding: 15px;
}

.latas2__descripcion {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #fff;
  text-align: center;
}

.fotosGaleria {
  background: -webkit-gradient(linear, left top, right top, color-stop(31%, black), color-stop(100%, #df4204), to(#ff9202));
  background: linear-gradient(90deg, black 31%, #df4204 100%, #ff9202 100%);
  width: 100%;
  display: -ms-grid;
  display: grid;
  overflow-x: hidden;
}

.fotosGaleria__fotos {
  text-align: center;
  margin: 0 auto;
  max-width: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* titulo de index */
.textInicio {
  text-align: center;
  color: #717e27;
  display: block;
  font-variant: small-caps;
}

.newMain {
  background: -webkit-gradient(linear, left top, right top, color-stop(31%, black), color-stop(100%, #df4204), to(#ff9202));
  background: linear-gradient(90deg, black 31%, #df4204 100%, #ff9202 100%);
  display: -ms-grid;
  display: grid;
}

.newMain__titulo {
  text-align: center;
  margin: 0 auto;
  display: block;
  max-width: 300px;
}

.newMain img {
  width: 250px;
  margin: auto;
  margin-top: 20px;
  border-style: solid;
  border-radius: 25px;
  color: #df6e11;
}

.newMain p {
  color: #000 255, 136, 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.card {
  width: 90%;
  max-width: 320px;
  margin: 0 auto;
}

.section_animation {
  max-width: 100%;
}

/* animacion Delivery Home */
#tapita {
  width: 30%;
  max-width: 250px;
  height: 200px;
  background-repeat: no-repeat;
  background-image: url(../assets/img/deliveryman.png);
  background-size: contain;
  -webkit-animation-name: miAnimacion;
          animation-name: miAnimacion;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  position: relative;
  -webkit-animation-direction: inherit;
          animation-direction: inherit;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes miAnimacion {
  0% {
    background-image: url(../assets/img/deliveryman.png);
    left: 0;
    top: 0px;
  }
  25% {
    background-image: url(../assets/img/deliveryman.png);
    left: 800px;
    top: 0px;
  }
  50% {
    background-image: url(../assets/img/deliveryman.png);
    left: 0px;
    top: 0px;
  }
  75% {
    background-image: url(../assets/img/deliveryman.png);
    left: 0px;
    top: 0px;
  }
  100% {
    background-image: url(../assets/img/deliveryman.png);
    left: 0px;
    top: 0px;
  }
}

@keyframes miAnimacion {
  0% {
    background-image: url(../assets/img/deliveryman.png);
    left: 0;
    top: 0px;
  }
  25% {
    background-image: url(../assets/img/deliveryman.png);
    left: 800px;
    top: 0px;
  }
  50% {
    background-image: url(../assets/img/deliveryman.png);
    left: 0px;
    top: 0px;
  }
  75% {
    background-image: url(../assets/img/deliveryman.png);
    left: 0px;
    top: 0px;
  }
  100% {
    background-image: url(../assets/img/deliveryman.png);
    left: 0px;
    top: 0px;
  }
}

@media (max-width: 500px) {
  @-webkit-keyframes miAnimacion {
    0% {
      background-image: url(../assets/img/deliveryman.png);
      left: 0;
      top: 0px;
    }
    25% {
      background-image: url(../assets/img/deliveryman.png);
      left: 0px;
      top: 0px;
    }
    50% {
      background-image: url(../assets/img/deliveryman.png);
      left: 0px;
      top: 0px;
    }
    75% {
      background-image: url(../assets/img/deliveryman.png);
      left: 180px;
      top: 0px;
    }
    100% {
      background-image: url(../assets/img/deliveryman.png);
      left: 0px;
      top: 0px;
    }
  }
  @keyframes miAnimacion {
    0% {
      background-image: url(../assets/img/deliveryman.png);
      left: 0;
      top: 0px;
    }
    25% {
      background-image: url(../assets/img/deliveryman.png);
      left: 0px;
      top: 0px;
    }
    50% {
      background-image: url(../assets/img/deliveryman.png);
      left: 0px;
      top: 0px;
    }
    75% {
      background-image: url(../assets/img/deliveryman.png);
      left: 180px;
      top: 0px;
    }
    100% {
      background-image: url(../assets/img/deliveryman.png);
      left: 0px;
      top: 0px;
    }
  }
}
/*# sourceMappingURL=style.css.map */